
button {
    width: 75px;
    height: 55px;
    font-size: 45px;
    background-color: #fff;
    border-color: #aaa;
    border-width: 1px;
    border-radius: 5px;
    margin: 2px;
    color: #222;
}

button:disabled {
    color: #f00;
    background-color: #fafafa;
}

button.next {

}

button.previous {

}

button.favorite {

}

button.manage {
    font-size: 14px;
    width: 80px;
}
